body{
  font-family: Hanalei Fill;
  font-style: oblique;
  font-size: 20px;
}
header{
  width:100%;
  height:100px;
  background-color: yellow;
ackground: url('http://www.lexcenter.com.br/site/wp-content/themes/dt-nimble/images/backgrounds/header/art-header-main/full/blue_art-header-main.jpg');
}
#q{
  width:200px;
  height: 40px;
  font-size: 28px;
  background-color:cyan;
  text-align:center;
  font-weight: bold;
}
#logo{
  float: right;
  width:auto;
  height:100px;
}
#cart{
  background-color: #ddd;
  font-size: 20px;

  font-weight: bold;
}
#box-container {
   height:600px;
   display:flex;

 }

 #box-1 {

   width: 70%;
   height: 100%;
background:url('http://www.lexcenter.com.br/site/wp-content/themes/dt-nimble/images/backgrounds/header/art-header-main/full/blue_art-header-main.jpg');
 }
img{
  width:65px;
  height: 65px;
}
 #box-2 {
background-color: olive;
   width: 30%;
   height: 100%;
background: url('http://www.lexcenter.com.br/site/wp-content/themes/dt-nimble/images/backgrounds/header/art-header-main/full/blue_art-header-main.jpg');
 }
 #btn{
   position: relative;
   right:80px;
   height: 75px;
   width:70px;
   top:22px;
 }
#myInput
  {
    margin:10px;
  width: 63%;
  font-size: 28px;
  font-weight: bolder;
  padding:20px;
  border:1px solid orangered;
}
.para{
  overflow:scroll;
  background: transparent;
 overflow-x: hidden;
  width:100%;
  height: 200px;
}
#tab{
opacity: 0.9;
  overflow:scroll;
  background: transparent;
 overflow-x: hidden;
  width:100%;
  height: 200px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    color: black;
    font-weight: bolder;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}
footer{
  background-color: yellow;
  width:100%;
  height: 100px;
  position: relative;
  bottom:70px;
}
#check{
  width:100%;
  height: 80px;
  font-weight: bolder;
  font-size: 25px;
  background-color: yellow;
}
#addtocart
{
  width:40%;
  height:45px;
  align:center;
  font-weight: bolder;
  font-size: 25px;
}
